<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
        <div class="navbar-brand text-center" href="#">
            <h3>AseSoft</h3>
            <h6><%=sails.__("Asesoria De Software")%></h6>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="#"><%=sails.__("Inicio")%></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><%=sails.__("Contáctenos")%></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><%=sails.__("Misión")%></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><%=sails.__("Visión")%></a></li>
        </div>
        </div>
    </nav>
</header>