<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">gmiProduce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link active" aria-current="page" href="/"><%=sails.__("Inicio")%></a>
          <a class="nav-link" href="/acerca-de"><%=sails.__("Acerca de")%></a>
          <a class="nav-link" href="#"><%=sails.__("Top")%></a>
        </div>
        <form class="d-flex">
          <a class="nav-link" href="#"><%=sails.__("Iniciar Sesión")%></a>
          <a class="nav-link" href="#"><%=sails.__("Registro")%></a>
        </form>
      </div>
    </div>
</nav>