<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">gmiProduce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link active" aria-current="page" href="/"><%=sails.__("Inicio")%></a>
          <a class="nav-link" href="/acerca-de"><%=sails.__("Acerca de")%></a>
          <a class="nav-link" href="#"><%=sails.__("Top")%></a>
        </div>
        <%if(!session || !session.cliente){%>
        <form class="d-flex">
          <a class="nav-link text-secondary" href="/inicio-sesion"><%=sails.__("Iniciar Sesión")%></a>
          <a class="nav-link text-secondary" href="/registro"><%=sails.__("Registro")%></a>
        </form>
        <%}else{%>
        <form class="d-flex align-middle">
          <span class="nav-link text-secondary px-2"><i class="fa fa-user fa-1x"></i> <%=session.cliente.nombre%></span>
          <a class="nav-link text-dark px-2" href="/carro-de-compra"><span class="fs-5 align-middle"><%=(session.carroCompra) ? session.carroCompra.length : 0%></span><i class="fa fa-cart-shopping fa-1x align-middle"></i></a>
          <a class="nav-link text-dark px-2" href="/cerrar-sesion"><%=sails.__("Cerrar sesión")%> <i class="fa fa-door-open fa-1x"></i></a>
        </form>
        <%}%>
      </div>
    </div>
</nav>