<section class="container mt-4">
  <article>
    <h1>INICIO</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">descripcion</th>
          <th scope="col">precio</th>
          <th scope="col">modelo</th>
          <th scope="col">marca</th>
        </tr>
      </thead>
      <tbody>
        <%articulos.forEach( articulo =>{ %>
          <tr>
            <th><%=articulo.id%></th>
            <td><%=articulo.descripcion%></td>
            <td>$<%=articulo.precio%></td>
            <td><%=articulo.modelo%></td>
            <td><%=articulo.marca%></td>
          </tr>
        <%});%>
      </tbody>
    </table>
  </article>
</section>